/* Header site */

.head-container, .school-container, .head-row {
    min-height: 100vh;
}

body {
    background-color: #eae8e7;
}

/* Presentation*/

.head-container {

    width: 100%;
    position: relative;
    background: url("img/head-img.PNG") top center no-repeat fixed;
    background-size: cover;
}

.head-row {

    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

.head-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5em;
    color: rgba(246, 246, 246, 0.9);
}

.head-skills {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    color: rgba(246, 246, 246, 0.9);
}

.head-details {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: rgba(246, 246, 246, 0.9);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* About */
#about {
    border: solid;
    background: url("img/about-back.PNG") top center no-repeat fixed;
    background-size: cover;
    left: 1.5em;
    margin-top: 1em;
    width: 35%;
    box-sizing: border-box;
    position: absolute;
    height: 94%;

}

.about-black {
    background-color: rgba(0, 0, 0, .9);
    background-size: cover;
    height: 100%;

}

#about.sticky {
    position: fixed;
    top: 0%;

}

.about-content {
    height: inherit;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.h1-about {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: bold;
    font-size: 2em;
    color: white;

}

.h2-about {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: bold;
    font-size: 1.5em;
    color: white;
}

.p-about {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: darkgrey;
    width: 75%;
}

/*********************************************************/
/*                    Content                            */
/*********************************************************/

.section-area {
    margin-top: 1.4%;
    margin-right: 3.5em;
}

.row-area {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.row-back {
    background-color: #ffffff;

}

.block-area {

    background-color: #ffffff;
    padding-bottom: 10px;
}

.section-area h2 {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    font-weight: bold;
    line-height: 37pt;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #767270;

}

span {
    font-size: 14pt;
    color: blue;
}

.block-area h3 {
    padding-left: 5px;
}

.block-area h3 span {
    padding-right: 15px;
    color: #767270;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
}

.img-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;

    padding-top: 20px;

}

.no-paddingL {
    padding-left: 0 !important;
}

.no-paddingR {
    padding-right: 5px !important;
}

/*****************************************/
/*             @media                    */
/*****************************************/
/*mid and large screen*/
@media screen and (min-width: 992px) {

    #contact {
        display: none !important;
    }

}
/*small and extra small screens */
@media screen and (max-width: 991px) {
    .section-area {
        margin-top: 1.4%;
        margin-left: 2em;
        margin-right: 2em;
    }

    #about {
        display: none !important;
    }

    .row-back {
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-area h2 {
        margin-left: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 24pt;

    }

}
@media screen and (max-width:750px ) {
    .section-area h2 {
        font-size: 24pt;
    }
    p, span{
        font-size: 20pt;
    }

    .block-area h3{font-size: 22pt;}
}

